<web-app>
  
  <display-name>Listado de Servlets</display-name>

<!--   <servlet>
    <servlet-name>GetRoutesServlet</servlet-name>
    <servlet-class>es.loyola.pdm.services.GetRoutesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>GetRoutesServlet</servlet-name>
      <url-pattern>/getRoutes</url-pattern>
  </servlet-mapping> -->

</web-app>
